* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 10vh;
    font-size: 40px;
    text-transform: uppercase;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {margin-top: -50vh;}
    60% {margin-top: 15vh;}
    100% {
        margin-top: 10vh;
    }
}

button {
  opacity: 0;
  margin-left: 45vw;
  margin-top: 30vh;
  background: transparent;
  border: 1px solid black;
  font-size: 30px;
  position: relative;
  padding: 10px 20px;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  transition-property: transform;
  transition-duration: 1s;
}

button:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
